

.nav-container {
    display: flex;
    justify-content: end;
}

.nav-links {
    position: absolute;
}

.social-link {
    margin-top: 4px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    width: 120px;
}

.name {
    margin-top: 6px;
    margin-bottom: 4px;
}