.list-links {
    display: flex;
    list-style: none;
}

.nav-links {
    justify-content: end;
}

.margin-list-link {
    margin-right: 10px;
}

.list-link {
    font-size: 18px;
}

.list-link:hover {
    font-weight: bold;
}

.section {
    padding-top: 20px;
}



.social-link {
    margin-top: 4px;
}

.introduction-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.introduction-avatar {
    border-radius: 50%;
    width: 120px;
}

.introduction-name {
    margin-top: 6px;
    margin-bottom: 4px;
}